APP_NAME=SATB Choir API
ENVIRONMENT=development
API_PREFIX=/api
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=satb_choir_app
ALLOWED_ORIGINS=["http://localhost:3000"]
AUDIVERIS_COMMAND=
SATB_MODEL_PATH=artifacts/satb_random_forest.joblib
USE_ML_CLASSIFIER=true
